# Build and Release Folders
bin/
bin-debug/
bin-release/

# Libraries
src/web_app/libs/

# Other files and folders
.settings/
*.cfg
config*
*.map

# Rasters
src/web_app/rasters/

# Swap files
*.swp

# Executables
