html, body, #container {
  height: 100%;
  overflow: hidden;
  width: 100%;
}

body {
  /* height of .navbar, customize with @navbar-height variable */
  /*padding-top: 50px;*/
}

.img-titre{
    margin-top: 5%;    
    margin-left: 25%; 
}

#sidebar-left{
  float: left;
  height: 100%;
  max-width: 100%;
  /* width: 250px; */ 
  width: 350px;   
}

#map {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); */
  height: 100%;
  width: auto;
}

#popup{
    /* font-family: Andale Mono,AndaleMono,monospace; */
    font-family: font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 30px;
}
 
.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.legend {
    text-align: left;
    line-height: 18px;
    color: #555;
}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}
.legend .colorcircle {
    border-radius: 50%;
    width: 15px;
    height: 15px;
    margin-top: 0px;
}


.show-graph {
    margin-top: 5%;
    text-align: center;
    font-size: 15px; 
    font-style: bold;    
}

.glyphicon.glyphicon-stats {
    font-size: 55px;
}











}
#sidebar {
  float: left;
  height: 100%;
  max-width: 100%;
  width: 250px;
}
#map {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); */
  height: 100%;
  width: auto;
}
.sidebar-wrapper {
  height: 100%;
  position: relative;
  width: 100%;
}
@media (max-width: 767px) {
#sidebar {
  display: none;
}
}

.btn-group-vertical{
	width: 250px;
}

h1 {
    /* font-family: Lucida Console,Lucida Sans Typewriter,monaco,Bitstream Vera Sans Mono,monospace; */
    font-family: font-family: 'Montserrat', sans-serif;
	font-size: 19px;
	font-style: normal;
	font-variant: normal;
/* 	font-weight: 500;
	line-height: 28px;  */
    text-align: center; 
    margin-top: 10%;
    margin-bottom: 10%; 
    color: #2C65AF;
}

h2 {
    /* font-family: Lucida Console,Lucida Sans Typewriter,monaco,Bitstream Vera Sans Mono,monospace; */
    font-family: font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	font-style: normal;
	font-variant: normal;
/* 	font-weight: 500;
	line-height: 28px;  */
    text-align: center; 
    margin-top: 5%;
    margin-bottom: 3%; 
    /* color: #2C65AF; */
}


h4 {
    /* font-family: Lucida Console,Lucida Sans Typewriter,monaco,Bitstream Vera Sans Mono,monospace; */
    font-family: font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	font-style: normal;
	font-variant: normal;
	/* font-weight: 500; */
	/* line-height: 28px; */ 
    text-align: left; 
    margin-top: 20%;
    /*margin-bottom: 20%; */
    margin-left: 2%;   
}

h5 {
    /* font-family: Lucida Console,Lucida Sans Typewriter,monaco,Bitstream Vera Sans Mono,monospace; */
    font-family: font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	/* font-weight: 500; */
	/* line-height: 28px; */ 
    text-align: left; 
/*     margin-top: 20%;
    margin-bottom: 20%; */
    margin-left: 2%;
    color: #808080;
}



/* .badge {
    background-color: rgb(255, 255, 255);
    border: solid 3px rgb(57, 132, 57); 
    color:rgb(57, 132, 57);    
}

.list-group-item.active .badge {
    background-color: rgb(255, 255, 255);
    border: solid 3px rgb(57, 132, 57);
    color:rgb(57, 132, 57);
} */

.badge {
    /* background-color: #FAB007; */
    background-color: rgb(248, 185, 41);
    border: solid 0px rgb(57, 132, 57); /* border: solid 3px #6E6E6E; */
    color: black;    
    font-weight: 400;
    padding: 4px 8px;
}

.list-group-item.active .badge {
    /* background-color: #FAB007; */
    background-color: rgb(248, 185, 41);
    border: solid 0px rgb(57, 132, 57); /* border: solid 3px #6E6E6E; */
    color: black;    
    font-weight: 400;
    padding: 4px 8px;
}




.bottom_sidebar_button {
    position: absolute;
    display: inline-block;
    bottom: 0;
	width:250px;
    text-align: center;
    /*
    background-color: #FF8800;
    font-size: 14px;
    color: #CC0000;
    */
}












/* 
LEAFLET SIDEBAR STYLE OVERRIDING
############################################################################ */
.leaflet-sidebar {
    position: absolute;
    height: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    z-index: 2000; 
}
.leaflet-sidebar.left {
    left: -500px; /* RS - Side bar cachée*/
    transition: left 0.5s, width 0.5s;
    padding-right: 0; 
}
.leaflet-sidebar.left.visible {
    left: 0; 
}
.leaflet-sidebar.right {
    right: -800px; /* RS - Side bar cachée*/
    transition: right 0.5s, width 0.5s;
    padding-left: 0; 
}
.leaflet-sidebar.right.visible {
    right: 0; 
}
.leaflet-sidebar > .leaflet-control {
    height: 100%;
    width: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 8px 24px;
    font-size: 1.1em;
    background: white;
    box-shadow: 0 1px 7px rgba(0, 0, 0, 0.65);
    -webkit-border-radius: 4px;
    border-radius: 4px; 
    background-color:white; /* RS - bgd color */
    opacity:0.9; /* RS - Add opacity */
}
.leaflet-touch .leaflet-sidebar > .leaflet-control {
    box-shadow: none;
    border: 2px solid rgba(0, 0, 0, 0.2);
    background-clip: padding-box; 
}
/* @media (max-width: 767px) { */
@media (max-width: 991px) {
    .leaflet-sidebar {
        width: 100%;
        padding: 0; 
    }
    .leaflet-sidebar.left.visible ~ .leaflet-left {
        left: 100%; 
    }
    .leaflet-sidebar.right.visible ~ .leaflet-right {
        right: 100%; 
    }
    .leaflet-sidebar.left {
        left: -100%; 
    }
    .leaflet-sidebar.left.visible {
        left: 0; 
    }
    .leaflet-sidebar.right {
        right: -100%; }
    .leaflet-sidebar.right.visible {
        right: 0; 
    }
    .leaflet-sidebar > .leaflet-control {
        box-shadow: none;
        -webkit-border-radius: 0;
        border-radius: 0; 
        opacity:1.0; /* RS - Add opacity */
    }
    .leaflet-touch .leaflet-sidebar > .leaflet-control {
        border: 0; 
    } 
}
/*
@media (min-width: 768px) and (max-width: 991px) {
    .leaflet-sidebar {
        width: 305px; 
    }
    .leaflet-sidebar.left.visible ~ .leaflet-left {
        left: 305px; 
    }
    .leaflet-sidebar.right.visible ~ .leaflet-right {
        right: 305px; 
    }
    .leaflet-sidebar > .leaflet-control {    
        background-color:red;
    }
}
*/
@media (min-width: 992px) and (max-width: 1199px) {
    .leaflet-sidebar {
        width: 690px; 
    }
    .leaflet-sidebar.left.visible ~ .leaflet-left {
        left: 390px; 
    }
    .leaflet-sidebar.right.visible ~ .leaflet-right {
        right: 690px; 
    } 
    .leaflet-sidebar > .leaflet-control {    
        background-color:white;
    }
}
@media (min-width: 1200px) {
    .leaflet-sidebar {
        width: 760px; 
    }
    .leaflet-sidebar.left.visible ~ .leaflet-left {
    left: 460px; 
    }
    .leaflet-sidebar.right.visible ~ .leaflet-right {
        right: 760px; 
    } 
}
.leaflet-sidebar .close {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 31px;
    height: 31px;
    color: #333;
    font-size: 25px;
    line-height: 1em;
    text-align: center;
    background: white;
    -webkit-border-radius: 16px;
    border-radius: 16px;
    cursor: pointer;
    z-index: 8000; /* RS ADD - For close button to showup */
}
.leaflet-left {
    transition: left 0.5s; 
}
.leaflet-right {
    transition: right 0.5s; 
}

